<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Goal Tracker</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="./stylesheets/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link rel="icon" href="/public/img/goal-icon.png">
</head>

<body>

    {{{ body }}}
    
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <footer class="page-footer light-blue darken-2">
        <div class="container">
            <div class="row">
                <div class="col l8 s12">
                    <h5 class="white-text">Development Team</h5>
                    <p class="grey-text text-lighten-4">We are students enrolled in KU's Coding Bootcamp.</p>
                </div>
                <div class="col l4 s12">
                    <h5 class="white-text">Dev Team GitHub</h5>
                    <ul>
                        <li><a class="white-text" href="https://github.com/verusbabb">Steve Babb</a></li>
                        <li><a class="white-text" href="https://github.com/koltondecker">Kolton Decker</a></li>
                        <li><a class="white-text" href="https://github.com/cgouge93">Carly Gouge</a></li>
                        <li><a class="white-text" href="https://github.com/cmoss703">Christina Moss</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
        </div>
    </footer>

    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="js/init.js"></script>

</body>

</html>