<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h2>Welcome <span class="member-name"></span></h2>
    </div>
  </div>
</div>
<div id="new-goal-and-milestones">
  <div id="goal-form">
    <form>
      <div class="mb-3">
        <label for="newGoalName" class="form-label">Goal Name</label>
        <input type="text" class="form-control" id="newGoalName">
      </div>
      <div class="mb-3">
        <label for="newGoalNumber" class="form-label">Goal Quantity</label>
        <input type="number" class="form-control" id="newGoalNumber">
      </div>
      <div class="mb-3">
        <label for="newGoalDoBy" class="form-label">Date to Finish Goal By</label>
        <input type="date" class="form-control" id="newGoalDoBy">
      </div>
      <button id="newGoalSubmitBtn" type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
<div id="milestones">
  <button id="addMilestoneBtn" class="btn btn-secondary">Add Milestone</button>
</div>

<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="./js/members.js"></script>
<script type="text/javascript" src="./js/goals.js"></script>
<script type="text/javascript" src="./js/milestones.js"></script>