body {
  background-color: #ebe9e9;
}

form.signup,
form.login {
  margin-top: 50px;
}
nav ul a,
nav .brand-logo {
  color: #444444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: green;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, 0.9);
}
.parallax-container .section {
  width: 100%;
}

#current-date-and-time {
  font-size: 1.5rem;
  margin-top: 1rem;
}

@media only screen and (max-width: 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width: 600px) {
  #index-banner .section {
    top: 0;
  }
  #download-button {
    margin-bottom: 20px;
  }
  h1 {
    display: none;
  }
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    /* border: 1px solid #888; */
    width: 80% !important;
  }

  .modal {
    width: 100% !important;
    height: 60%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /*Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  }
}

.card {
  text-align: center;
}

.milestone-button {
  margin: 15px;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 15%; /* Location of the box */
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  max-height: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /*Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  /* border: 1px solid #888; */
  width: 40%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

footer.page-footer {
  margin: 0;
  /* position: fixed;
  left: 0;
  bottom: 0;
  width: 100%; */
}

.buttonsDiv {
  padding-bottom:10%
}

.editGoalBtn {
  position:relative;
  margin-left: 80%;
  margin-top: 4%;
}