html {
  position: relative;
  min-height: 100%;
}

body{
  background-color: #293450;
  margin: 0 0 100px;
  padding-bottom: 10%
}
/* label {
  color:white !important;
} */


body.light-theme{
  background-color: white;
  margin: 0 0 100px;
  padding-bottom: 10%;
  
}

body.light-theme div {
  color:black;
}

body.light-theme .btn,
body.light-theme .btn-large {
  background-color:#FE5F55;
}

body.light-theme nav,
body.light-theme footer {
  background: linear-gradient(to right, #577399 , #FE5F55);
}

body.light-theme .header{
  color:black
}

body.light-theme .card{
  background: rgba( 251, 251, 251, 0.35 );
  box-shadow: 0 8px 40px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4.5px );
  -webkit-backdrop-filter: blur( 4.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

body.light-theme .goal-header{
  color:black;
}

body.light-theme .login-signup-error {
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
}

body.light-theme .icon-block .material-icons {
  font-size: inherit;
  color: #FE5F55;
}

body.light-theme .glass {
  background: rgba( 251, 251, 251, 0.35 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4.5px );
  -webkit-backdrop-filter: blur( 4.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.login-signup-error {
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
}

.card {
  text-align: center;

}

.goal-header{
  color: white;
}
.collapsible {
  margin: 0;
}

.log {
  text-align: left
}

.btn, .btn-large {
  background-color: #8E24AA;
}

form.signup,
form.login {
  margin-top: 50px;
}
nav ul a,
nav .brand-logo {
  color: white;
}

nav, .page-footer {
  background: #00B0FF;
}
p {
  line-height: 2rem;
}

#welcome-div {
  margin-top: 1%;
}

#new-goaldiv {
  position: sticky;
  top:100px;
}

.goals{
  margin-left: 16%;
}

.sidenav-trigger {
  color: light-blue;
}

.parallax-container {
  min-height: 400px;
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, 0.9);
}
.parallax-container .section {
  width: 100%;
}

.parallax {
background-attachment:fixed ;
background-image: url("../img/parallax.svg");
}

#current-date-and-time {
  font-size: 1.5rem;
  margin-top: 1.75rem;
  text-align: right;
}

.form-group {
  text-decoration-color: white;
}


@media only screen and (max-width: 600px) {
  #index-banner .section {
    top: 0;
  }
  #download-button {
    margin-bottom: 20px;
  }
  #current-date-and-time {
    text-align: center;
  }
  h1 {
    display: none;
  }
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    /* border: 1px solid #888; */
    width: 80% !important;
  }

  .modal {
    width: 100% !important;
    height: 60%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /*Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  }

  #new-goaldiv {
    position: static;
  }

  #current-date-and-time {
    text-align: center;
  }

  body {
    padding-bottom: 80%;
  }
  body.light-theme{
    padding-bottom: 80%;
  }
  .goals{
    margin: 0 auto;
  }
}

.milestone-button {
  margin: 15px;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
  color: #8E24AA;
}

#add-goal {
  margin-top: 0;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 15%; /* Location of the box */
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  max-height: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /*Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  width: 40%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}

.buttonsDiv {
  padding-bottom: 10%;
}

.editGoalBtn {
  position: relative;
  margin-left: 80%;
  margin-top: 4%;
}
